
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the actual path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    background-color: transparent
}


.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #FF8C00; /* Orange border */
}

header h1 {
    margin: 0;
    font-size: 2em; /* Larger font size */
}

header img {
    max-width: 100px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

main {
    padding: 20px 0;
}

.about, .gallery, .facts {
    margin: 20px 0;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
}

.about h2, .gallery h2, .facts h2 {
    color: #FF8C00;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.image-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding: 0;
}

.facts ul {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.logo-section img {
    max-width: 80px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.info-section, .contact-form-section {
    flex: 1;
    padding: 0 20px;
}

.info-section h3, .contact-form-section h3 {
    color: #FF8C00;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #FF8C00; /* Orange button color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #FFA500; /* Darker orange on hover */
}
